QlikView Extension1/Definition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ExtensionObject">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Dimension">
                    <xs:complexType>
                        <xs:sequence minOccurs="0">
                            <xs:element name="Others">
                                <xs:annotation>
                                    <xs:documentation>If given the number of values actually sent in a dimension is limited</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:attribute name="CountExceed" type="xs:integer" use="required">
                                        <xs:annotation>
                                            <xs:documentation>All correpsonding to dimension values above this number will be presented together as 'Others'</xs:documentation>
                                        </xs:annotation>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Initial" type="xs:string" fixed="" use="optional" >
                            <xs:annotation>
                                <xs:documentation>If given this dimension is created initially. Note that all dimensions preceeding must be marked intial</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="DropTarget" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>Make this dimension a drop-target. The text used in the confirmation dialog</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Prefer" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>Tag used to filter the dimension</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Measurement">
                    <xs:complexType>
                        <xs:attribute name="Initial" type="xs:string" fixed="" use="optional" >
                            <xs:annotation>
                                <xs:documentation>If given this measurment is created initially. Note that all measurments preceeding must be marked intial</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="DropTarget" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>Make this measurment a drop-target. The text used in the confirmation dialog</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="RefValue">
                    <xs:annotation>
                        <xs:documentation>A loose numeric value</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Expression" type="xs:string" use="required" />
                        <xs:attribute name="Label" type="xs:string" use="optional" />
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Text">
                    <xs:annotation>
                        <xs:documentation>A loose textual value</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Expression" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedProperty">
                    <xs:annotation>
                        <xs:documentation>A property specific to this extension. 
                        Useful as a local variable set by properties pages and used in expressions through the built-in function: GetExtendedProperty('Name')</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Type" type="xs:string" use="optional">
                            <xs:annotation>
                                <xs:documentation>The type of property. Currently the following are supported: Bool and String. Default to String</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="Value" type="xs:string" use="required">
                            <xs:annotation>
                                <xs:documentation>The initial value. Should confirm to the type</xs:documentation>
                            </xs:annotation>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Initiate">
                    <xs:annotation>
                        <xs:documentation>Initial value for a named existing property</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="Value" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="Label" type="xs:string" use="required" >
                <xs:annotation>
                    <xs:documentation>The named visible to the user</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Description" type="xs:string" use="optional" >
                <xs:annotation>
                    <xs:documentation>A description presented in the 'New Sheet Object' dialog</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>